/* styles/Sidebar.module.css */
.mainContainer {
    display: flex;
  }

  .sidebar {
    flex: 0 0 25%; /* 25% of the container width */
    padding: 20px;
    background-color: #f0f0f0;
  }

  .newsContainer {
    flex: 0 0 75%; /* 75% of the container width */
    padding: 20px;
  }
